.usa-list li {
  max-width: 100%;
}

.usa-process-list>.usa-process-list__item {
  max-width: 100%;
}

h1 {
  font-weight: 600;
  color: #003e67;
  font-size: 4rem;
  padding-top: .8rem;
  padding-bottom: .4rem;
  margin-bottom: 0;
  margin-top: 0;
}

h2 > strong {
  font-weight: bold; 
}