/* // ---------------- GLOBAL ---------------- // */
.title {
  font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

  /* CISA-IRF/H3 */
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title-blue {
  color: $brand-primary-darker;
}

.template-container {
  padding-bottom: 3rem;
  background-color: #fff;
  box-shadow: 0rem .8rem 3.6rem 0rem rgba(141, 141, 141, .1);
}

.template-form {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.template-h1 {
  font-weight: 600;
  color: #003e67;
  font-size: 4rem;
  padding-top: .8rem;
  padding-bottom: .4rem;
  margin-bottom: 0;
}

.template-h2 {
  margin-top: 0rem;
  margin-bottom: 2rem;
  color: #003E67;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
}

.template-horizontal-line {
  border: .1rem solid #7AA5C1;

  &:before {
    content: ' ';
    width: 2px;
    height: 2px;
    position: absolute;
    left: 15px;

    @media only screen and (min-width: 992px) {
      top: 1.75rem;
    }

    @media only screen and (max-width: 991px) {
      top: -.225rem;
    }

    border-radius: 2px;
    border: 2px solid #7AA5C1;
    background-color: #7AA5C1;
  }

  &:after {
    content: ' ';
    width: 2px;
    height: 2px;
    position: absolute;
    right: 15px;

    @media only screen and (min-width: 992px) {
      top: 1.75rem;
    }

    @media only screen and (max-width: 991px) {
      top: -.225rem;
    }

    border-radius: 2px;
    border: 2px solid #7AA5C1;
    background-color: #7AA5C1;
  }
}

.template-blue-box {
  border-radius: .2rem;
  border: .1rem solid #B8D9E8;
  background: #F5FAFC;
  padding: 2rem;  
}

.template-blue-box p {
  font-size: 1.4rem; 
}

.template-footer-box {
  border-radius: .2rem;
  border: .1rem solid #B8D9E8;
  background: #B8D9E8;
  padding: 2rem;
}

.template-blue-border {
  border-radius: .2rem;
  border: .1rem solid #B8D9E8;
}

@media all and (min-width:992px) {
  .trash {
    padding-top: 4rem;
  }

  /* Flex styling */
  .flex {
    display: flex;
  }

  .parent-flex {
    display: flex;
    flex: 1;
  }

  .child-flex {
    flex: 1;
  }

  .flex-bottom {
    display: flex;
    align-items: flex-end;
  }
}

/* Loading spinner styling  */
.loading {
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

.loading-wrapper {
  position: relative;
  width: auto;
  height: auto;
  top: 40%;
  left: 40%;
}

/* // ---------------- VALIDATION ---------------- // */
.red {
  color: #CE4009;
}

/* // ---------------- USWDS Overrides ---------------- // */
.usa-combo-box__input,
.usa-combo-box,
.usa-date-picker__wrapper,
.usa-input,
.usa-input-group,
.usa-select,
.usa-legend,
.usa-list li,
.usa-label,
.usa-textarea {
  max-width: 100%;
}

.usa-modal--lg {
  max-width: 65vw;
}

.usa-modal--lg .usa-modal__main {
  max-width: 80%;
  padding-bottom: 2.5rem;
  padding-top: 1em;
  padding: .8rem .5rem 2rem;
}

.usa-modal-overlay {
  overflow-y: hidden;
}

.modal-body {
  overflow-y: scroll;
  overflow-x: clip;
  height: 50vh;
  margin-bottom: 1.5rem;
}

.usa-button--outline:disabled,
.usa-button--outline[aria-disabled=true] {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #005ea2;
  color: #005ea2;
}

.usa-button--outline:disabled,
.usa-button--outline[aria-disabled=true]: hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #005ea2;
  color: #005ea2;
}

.usa-combo-box__input-button-separator {
  top: 2px;
}

@media all and (max-width:500px) {
  .modal-body {
    height: 40vh;
  }
}

.usa-masked {
  background-color: white !important;
}

.usa-card__container {
  padding: 1.5rem;
}

.usa-card__body {
  color: $brand-primary;
}