.blue-container {
  border-radius: 3px; 
  border: 1px solid #B8D9E8;
  background: #F5FAFC;
  padding: 25px;
	margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

h2 {
  color: #005288;
  font-family: "source_sans_probold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: bold;
}

.btn-light {
  border: 1px solid #0078AE;
  background: #F5FAFC;
  color: #0078AE
}

.mr-20 {
    margin-right: 20px;
}