.card {
 width: 100%;
 padding: 25px;
 margin: 2px;
}

.card-blue {
  border: 1px solid #B8D9E8;
  background-color: #F5FAFC;
  border-radius: 2px;
}

.card-white {
  border: 1px solid #0078AE;
  background-color: #fff;
  border-radius: 4px;
}

.title {
  padding-bottom: 10px;
  font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  min-height: 80px;
  margin-top: 0;
  margin-bottom: 0;
}

.title-blue {
  color: $brand-primary-darker;
}

.title-white {
  color: $brand-primary;
}


.button {
  padding-bottom: 10px;
}

.content {
  margin-bottom: 15px;
  overflow-y: auto;
}

@media screen and (min-width: 992px) {
  .title {
  font-size: 2.25rem;
  }
}